<!DOCTYPE html>
<html>
<head>
    <title>TestBed</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>

    <h1>Test Bed</h1>
    
    <form method="POST" action="/run-reports">
        <input type="checkbox" id="inlineEventHandler" name="test1" value="csp/inlineEventHandler">
        <label for="inlineEventHandler"> CSP - Inline Event Handler </label><br>
        <input type="checkbox" id="scriptWithoutNonce" name="test2" value="csp/scriptWithoutNonce">
        <label for="scriptWithoutNonce"> CSP- Script without nonce</label><br>
        <input type="checkbox" id="jsUri" name="test3" value="csp/jsUri">
        <label for="test3"> CSP - JavaScript URI</label><br>
        <input type="checkbox" id="unsafeEval" name="test4" value="csp/unsafeEval">
        <label for="test4"> CSP - Unsafe Eval</label><br>
        <input type="checkbox" id="innerHTML" name="test5" value="trustedTypes/innerHTML">
        <label for="test5"> Trusted Types - innerHTML</label><br>
        <input type="checkbox" id="scriptSrc" name="test6" value="trustedTypes/scriptSrc">
        <label for="test6"> Trusted Types - Script src attribute</label><br>
        <br>
        <input type="submit" value="Submit">
    </form>
    
    <div style="padding-top: 100px;">
        <table id="table">
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;"># of reports</th>
                <th style="text-align: center;">Time Stamp</th>
            </tr>
        </table>
    </div>

</body>
</html>
<script>
    $.get("/getTableContent", function(data) { 
        var table = document.getElementById("table")
        console.log(data)
        for (var pk in data){
            var row = document.createElement("tr")
            
            var colId = document.createElement("td")
            var refId = document.createElement("a")
            refId.setAttribute("href", `/see-reports?id=${pk}`)
            refId.setAttribute("target","_blank")
            refId.innerHTML = pk
            colId.appendChild(refId)
            row.appendChild(colId)

            var colRep = document.createElement("td")
            colRep.innerHTML = data[pk]['numberOfReports']
            colRep.setAttribute("style", "text-align: center;")
            row.appendChild(colRep)

            var colDate = document.createElement("td")
            colDate.innerHTML = data[pk]['date']
            colDate.setAttribute("style", "text-align: center;")
            row.appendChild(colDate)

            table.appendChild(row)
        }
    });
</script>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;    
    }
</style>