<!DOCTYPE html>
<html>
<head>
    <title>TestBed</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>

    <h1>Test Bed</h1>
    
    <form id="testForm">
        <!-- CSP -->
        <input type="checkbox" id="inlineEventHandler" name="test1" value="csp/inlineEventHandler">
        <label for="inlineEventHandler"> CSP - Inline Event Handler </label><br>
        <input type="checkbox" id="scriptWithoutNonce" name="test2" value="csp/scriptWithoutNonce">
        <label for="scriptWithoutNonce"> CSP- Script without nonce</label><br>
        <input type="checkbox" id="jsUri" name="test3" value="csp/jsUri">
        <label for="test3"> CSP - JavaScript URI</label><br>
        <input type="checkbox" id="unsafeEval" name="test4" value="csp/unsafeEval">
        <label for="test4"> CSP - Unsafe Eval</label><br>
       <!-- Trusted Types -->
        <input type="checkbox" id="innerHTML" name="test5" value="trustedTypes/innerHTML">
        <label for="test5"> Trusted Types - innerHTML</label><br>
        <input type="checkbox" id="scriptSrc" name="test6" value="trustedTypes/scriptSrc">
        <label for="test6"> Trusted Types - Script src attribute</label><br>
        <!-- COEP -->
        <input type="checkbox" id="crossOriginIframe" name="test7" value="coep/crossOriginIframe">
        <label for="test7"> COEP - Cross Origin Iframe</label><br>
        <input type="checkbox" id="crossOriginResources" name="test8" value="coep/crossOriginResources">
        <label for="test8"> COEP - Cross Origin Resources</label><br>
        <input type="checkbox" id="crossOriginPopup" name="test9" value="coep/crossOriginPopup">
        <label for="test9"> COEP - Cross Origin Popup</label><br>
        <br>
        <input type="button" value="Submit" id="submit">
    </form>
    
    <div style="padding-top: 80px;">
        <h2>Most recent submissions</h2> 
        <table id="table">
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;"># of reports</th>
                <th style="text-align: center;">Time Stamp</th>
                <th style="text-align: center;">Browser/Version</th>
            </tr>
        </table>
    </div>

</body>
</html>
<script>
    document.getElementById('submit').addEventListener('click', () => {
        event.preventDefault()
        var id = revisedRandId()

        var form = new FormData(document.getElementById('testForm'))
        var serializedForm = $('#testForm').serializeArray()
        
        let tests = []
        for (pair of form) {
            tests.push(pair[1])
        }

        // let url = window.location.href.split('?')[0];
        // let testWindows = []
        // for (pair of form) {
        //     testWindows.push(window.open(`${url}${pair[1]}?=${id}`))
        // }
        // setInterval(() => {
        //     testWindows.forEach(wind => wind.close())
        //     window.location.replace(`${url}see-reports?id=${id}`)
        // }, 1000)
       
        window.location.replace("/run-reports?" + tests.join(','));

    });

    function revisedRandId() {
        let id = ""
        for (let i = 0; i < 4; i++) {
            id = id + Math.random().toString(36).substring(2, 15)
        }
        return id
    }

    $.get("/getTableContent", function(data) { 
        var table = document.getElementById("table")
        console.log(data)
        for (var pk in data){
            var row = document.createElement("tr")
            
            var colId = document.createElement("td")
            var refId = document.createElement("a")
            refId.setAttribute("href", `/see-reports?id=${pk}`)
            refId.setAttribute("target","_blank")
            refId.innerHTML = pk
            colId.appendChild(refId)
            row.appendChild(colId)

            var colRep = document.createElement("td")
            colRep.innerHTML = data[pk]['numberOfReports']
            colRep.setAttribute("style", "text-align: center;")
            row.appendChild(colRep)

            var colDate = document.createElement("td")
            colDate.innerHTML = data[pk]['date']
            colDate.setAttribute("style", "text-align: center;")
            row.appendChild(colDate)

            var colBrowser = document.createElement("td")
            colBrowser.innerHTML = data[pk]['browser']
            colBrowser.setAttribute("style", "text-align: center;")
            row.appendChild(colBrowser)

            table.appendChild(row)
        }
    });


</script>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;    
    }
</style>