<!DOCTYPE html>
<html>
<head>
    <title>Violation Reports</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

        var report_data
        $.getJSON("/process-reports?id=" + getUrlParameter("id"), function(data) { 
            report_data = data; 
            console.log(report_data)
        });
    </script>
</head>
<body>

</body>
</html>